@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --naranja-base: #ea8010;
}

/*------------------Header-------------------*/
header {
  background: linear-gradient(rgb(0, 0, 0, 60%), rgb(0, 0, 0, 44%)),
    url(../Imagenes/fondo.png);
  background-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-------------------Navegacion--------------*/
nav {
  margin: 24px auto;
  padding: 8px 0;
  border-radius: 40rem;
  border: solid 3px var(--naranja-base);
  background: rgba(31, 30, 30, 0.57);
  position: fixed;
  backdrop-filter: blur(6px); /*aplica flitro*/
  order: 1;
}
.acceso-nav {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 19px;
  text-decoration: none;
  padding: 19px;
  margin: 8px;
}
.acceso-nav:hover {
  color: var(--naranja-base);
}
/*------------------Marca Personal-----------*/
#marca_personal {
  color: white;
  font-family: "Poppins", sans-serif;
  position: relative;
  order: -1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  top: 30vh;
  margin: 80px 80px 80px 100px;
}
#text-MP {
  display: flex;
  flex-direction: column;
  padding: 20 80 20 10;
}
#text-MP h2 {
  font-size: 35px;
  padding: 9px 0;
  letter-spacing: 3px;
}

#text-MP p {
  font-size: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
  letter-spacing: 3px;
}
#foto-MP {
  padding-right: 29px;
}
#foto-MP img {
  height: 9em;
  width: 17em;
}
